In [39]:
import pandas as pd
#importing json data
url="https://data.nasa.gov/resource/y77d-th95.json"
df=pd.read_json(url,orient="records")

In [42]:
#extracting point co ordinates 
geodata=pd.json_normalize(df["geolocation"])
geodata=geodata.rename(columns={"coordinates":"Point_Coordinates"})
extracted_col = geodata["Point_Coordinates"]

In [43]:
#joining the extracted point coordinates
df = df.join(extracted_col)

In [45]:
#formating the year
df["year"] = df['year'].str[:4]
#droping columns
df=df.drop(labels=["geolocation",":@computed_region_nnqa_25f4", ":@computed_region_cbhk_fwbd"], axis=1)

In [46]:
df.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,Point_Coordinates
0,Aachen,1,Valid,L5,21.0,Fell,1880,50.77500,6.08333,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,720.0,Fell,1951,56.18333,10.23333,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,107000.0,Fell,1952,54.21667,-113.00000,"[-113, 54.21667]"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976,16.88333,-99.90000,"[-99.9, 16.88333]"
4,Achiras,370,Valid,L6,780.0,Fell,1902,-33.16667,-64.95000,"[-64.95, -33.16667]"

In [47]:
df.to_csv("nasa.csv",index=False)